/********* STYLE GENERAL **********/


body {
  margin: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {  font-family: 'open Sans', helvetica;
}


/********* STYLE DU HEADER*********/

.titre_topo h1 {
  display: inline-block;
  border-bottom: 5px black solid;
}

.titre_topo p {
  font-style: italic;
}


/********* STYLE DES GRILLES*********/

.grille {
  display: grid;
  grid-auto-rows: 350px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
}
